body {
  font-family: 'COCOGOOSE', sans-serif;
  margin: 0;
  padding: 0; 
                                                
}

.display-flex {
  display: flex;
}

/* .display-block {
  display: block;
} */

.white-color {
  color: white;
}

.white-background {
  background-color: white;
}

.gray-background {
  background-color: #d3d3d3;
}

.red-color {
  color: #ec5242;  
}

.red-background { 
  background-color: #ec5242;
}
.dark-color {
  background-color: #272a31;
}

.dark-background {
  background-color: #272a31;
}
.header {  
  /* padding-top: ; */
  padding-bottom: 100px;
}

header .header-color, .header-pad {
  padding-left: 18px;  
}
header .header-welcome {
  font-size: 20px;
  font-weight: 100;
}

header .header-ongoing {
  font-weight: bold; 
}

.header .header-paragraph{
  padding-left: 20px;
  margin-left: 16px;
  margin-right: 16px;
  border: 3px solid white;
}

.header .header-time {
  padding-left: 18px;
}

.align-center {
  text-align: center;
}

.main-courses {
  padding: 40px 18px;
  /* text-align: center; */
}

.main-courses-grid-container {
  display: grid;
  grid-template-columns: auto;
   
}

.main-courses-grid-container > .main-grid-item {
  /* opacity: 50%;  */
  border: 2px solid rebeccapurple; 
  display: flex;
  margin-bottom: 12px;
  background-color: #44474f;
  /* justify-content: ; */
  align-items: center; 
  padding-left: 20px;  
  column-gap: 12px;
  
}

.register-button {
  color: white;
  /* width: 500px; */
  padding: 20px 0;
  border: none;
  font-size: 30px;
  cursor: pointer;
  /* display: block; */  
}

.register-button:hover{
  background-color: #e3220d;
  transform: scale(1)
}

.register-button:active {
  background-color: #b12314;
  transform: translateY(4px);
}

/* Featured Speakers */
.featured-speakers .flex-container {
  /* justify-content: space-between; */
  align-items: center;
 
  /* justify-content: space-around; */
  /* align-items: center;  */
  margin-left: 32px;

}
.chinedu-image {
  background-image: url(./images/chinedu-ezea-picture.png);
  background-size: 100% 100%;
  width:  150px;
  /* border: 3px solid red; */
  /* background-size: contain; */
  margin-right: 16px;
  height: 150px;
}

/* Footer session */

.footer, .partners-container {
  padding-bottom: 30px;
}



.footer .flex-conatiner {
 flex-wrap: wrap;
 padding-left: 0;
 justify-content: space-between;
 margin: 30px 20px 40px 20px;
}
footer .flex-conatiner .flex-item {  
  list-style-type: none;  
  
}
 
footer .flex-conatiner .flex-item a:link{
text-decoration: none;
}

.footer .copyright-flex-container {
  justify-content: space-around;
  align-items: center; 
  margin-top: 30px;
}































@media only screen and (max-width: 768px) {

  .desktop-menu {
    display: none;
  }


}
