body {
  font-family: 'COCOGOOSE', sans-serif;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .desktop-menu,
  .destop-bg-pad .regiter-link {
    display: none;
  }
}

a:link {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.display-flex {
  display: flex;
}

/* .display-block {
  display: block;
} */

.white-color {
  color: white;
}

.white-background {
  background-color: white;
}

.gray-background {
  background-color: #d3d3d3;
}

.red-color {
  color: #ec5242;
}

.red-background {
  background-color: #ec5242;
}

.dark-color {
  color: #272a31;
}

.dark-background {
  background-color: #272a31;
}

/* Hamburger and its menu */
.hamburger { 
  position: fixed; 
   padding-top: 0;
  padding-left: 24px; 
}

.hamburger div { 
  width: 30px;
  height: 3px;
  cursor: pointer;
  background-color: #272a31;
  margin: 6px 0;
  transition: 0.4s;
 
}

.is-active .bar-1 {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.is-active .bar-2 {
  opacity: 0; 
}

.is-active .bar-3 {
  transform: rotate(45deg) translate(-6px, -6px);  
}

.hamburger-menu {
  position: fixed; 
  /* flex-direction: column; */
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 99;
  background-color: white;
  margin-top: 0;
  padding-top: 120px;
  transition: 0.4s;
}

.is-active .hamburger-menu {
   /* display: flex; */
  /*  */
  /* border:  1px solid rebeccapurple; */
  left: 0;
  opacity: 84%;
  /* margin-top: 0; 
  margin-left: 0; */
}

.hamburger .hamburger-menu .menu-item {
 font-weight: bold;
 font-size: 30px;
  margin-top:  24px;
} 

.hamburger .hamburger-menu .menu-item .menu-color {
  color: #272a31;
}

.mobile-header img,
.about-mobile .header-abt-bg img {
  padding-left: 24px;
  padding-top: 16px;
  height: 32px;
}

.mobile-background {
  background-image: url(./images/mobile_intro_bg.png);
  background-size: 100% 100%;
}

.mobile-header {
  padding-bottom: 10px;
}

  

.mobile-header,
.pad {
  padding-top: 52px;
  padding-left: 18px;
  margin-top: 0;
}

.mobile-header .welcome,
.about-mobile .greeting {
  font-size: 20px;
  font-weight: 100;
}

.mobile-header .paragraph {
  
  padding-left: 20px;
  margin-left: 16px;
  margin-right: 16px;
  border: 3px solid white;
} 

.align-center {
  text-align: center;
}

.web-icon,
.seo-icon,
.machine-learning-icon,
.blockchain-icon,
.editing-icon {
  background-size: 100% 100%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.web-icon {
  background-image: url(./images/web-development-icon.png);
}

.seo-icon {
  background-image: url(./images/seo-icon.png);
}

.machine-learning-icon {
  background-image: url(./images/machine-learning-icon.png);
}

.blockchain-icon {
  background-image: url(./images/blockchain-icon.png);
}

.editing-icon {
  background-image: url(./images/editing-icon.png);
}

.background-img {
  background-image: url(./images/course_bg.png);
}

.destop-bg-pad {
  padding-top: 72px;
  padding-bottom: 72px;
}

.main-courses-grid-container {  
  padding-right: 0;
  margin-bottom: 64px;
  margin-top: 48px;
}

.tutor-dash {
  width:  52px;
  height: 2px;
  border: none;
}

.main-courses-grid-container, .featured-speakers {
  display: grid;
  grid-template-columns: auto;
  margin-right: 16px;
  margin-left: 16px; 
}

.featured-speakers > .featured-grid-item { 
  margin-bottom: 24px;
}

.main-courses-grid-container > .main-grid-item {
  display: flex;
  align-items: center;
  backdrop-filter: blur(1px) contrast(0.8); 
  padding-left: 24px;
  margin-bottom: 16px;
  transition: transform .2s; 
}

.main-courses-grid-container > .main-grid-item:hover {
  transform: scale(0.9);  
}


.featured-speakers .flex-container {
  align-items: center;  
}

.main .destop-bg-pad .main-courses-grid-container > * h3,
.web-padding {
  padding-left: 24px;
}

.seo-padding {
  padding-left: 123px;
}

.machine-learning-padding {
  padding-left: 55px;
}

.main-content-padding {
  border: 1px solid rgb(14, 14, 244);
}

.blockchain-padding {
  padding-left: 34px;
}

.editing-padding {
  padding-left: 77px;
}

.register-button {
  color: white;
  padding: 32px;
  border: none;
  font-size: 30px;
  cursor: pointer;  
}

.register-button:hover {
  background-color: #e3220d;
}

.register-button:active {
  background-color: #b12314;
  transform: translateY(4px);
}


.chinedu-image { 
  background-size: 100% 100%;
  border-radius: 50%;
  width: 150px;
  margin-right: 16px;
  height: 150px;
}

.qualification {
  color: #ec5242;
  font-size: 11px;
}

.qualification-dash {
  width: 16px;
 margin-left: 0;
}

.more-arrow {
  border: 1px solid  #d3d3d3;
  text-align: center;
  border-radius: 6px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 16px;
  margin-left: 16px;
}

/* Footer session */

.footer,
.partners-container {
  padding-top: 25px;
  padding-bottom: 30px;
}

/* .footer-index .flex-conatiner {
  background-size: 100% 100%;
  border-radius: 50%;
  width: 150px;
  margin-right: 16px;
  height: 150px;
} */

.footer .flex-conatiner, .footer-index .flex-conatiner {
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: space-evenly;
  margin: 30px 20px 40px 20px;
}

.footer .copyright-flex-container, .footer-index .copyright-flex-container{
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

/* About Styling */

.about-mobile {
  padding-bottom: 24px;
}

.header-abt-bg {
  background-image: url(./images/about_bg_a.png);
  background-size: 100% 100%;
  background-size: contain;  
}

.about-mobile .paragragh-abt {
  margin: 0 48px;
  padding: 24px 52px;
}

.header-ongoing {
  font-size: 69px;
  line-height: 61px;
  margin-top: 0;
}

.logo-abt {
  border: 2px solid rgb(214, 208, 208);

  /* line-height: 16px; */
  margin: 52px 24px;
  padding: 52px;
}

.hr-width-abt {
  width: 157px;
}

.date-font-abt {
  font-size: 8px;
}

.videos-abt {
  margin: 0 48px;
}

.videos-abt > * iframe {
  width: 100%;
  height: 300px;
}

@media only screen and (min-width: 768px) {
  .hamburger,
  .mobile-btn,
  .footer .partners-container
  {
    display: none;
  }

  .desktop-menu .icon-container {
    padding-top: 0;
    margin-top: 0;
  }

   .icon-container a:hover {
    color: #ec5242;
  }

  .desktop-menu .icon-container {
    justify-content: flex-end;
    padding: 5px 155px 5px 0;
    font-size: 12px;
    align-items: center;
  }

  .desktop-menu .icon-item {
    margin-right: 64px;
    border: 2px solid rebeccapurple;
  }

  .icon-container-2 {
    padding-top: 0;
    padding-bottom: 12px;
  }

  .desktop-menu .icon-container-2 {
    justify-content: space-between;
    align-items: center;
    margin: 0 152px;
  }

  .desktop-menu .icon-container-2 .name-border {
    border: 4px solid  #ec5242;
    padding: 8px;
  }

  .mobile-background {
    background-image: url(./images/desktop-background.png);
    padding: 100px 0 100px 150px;
  }

  .about-mobile .paragragh-abt {
    margin-right: 170px;
    margin-left: 250px;
  }

  .desktop-design .pad {
    margin-bottom: 48px;
  }

  .mobile-header  .paragraph {
    opacity: 90;
    background-color: #d3d3d3;
    color: #272a31; 
    margin-bottom: 64px;
    max-width: 50%;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .mobile-header .time {
    opacity: 90;
    color: #272a31;
    background-color: #d3d3d3;
    max-width: 40%;
    padding-top: 24px;
    padding-bottom: 24px;
    /* margin-bottom: 0; */
  }
 

  .main-courses-grid-container { 
    grid-template-columns: auto auto auto auto auto;  
    text-align: center;
  }

  .main-courses-grid-container, .featured-speakers { 
    margin-left: 150px;
    margin-right: 150px;
  }

  .main-courses-grid-container > .main-grid-item {
    flex-direction: column;
    padding-top: 24px;
    margin-bottom: 0;
    padding-left: 0;
    margin-right: 3px;
  }

  .main .destop-bg-pad .main-courses-grid-container > * p {
    padding-left: 8px;
    padding-right: 8px;
  }

  .main .destop-bg-pad .main-courses-grid-container > * h3 {
    padding-left: 0;
  }

  .featured-speakers {
    grid-template-columns: auto auto; 
  }

  .featured-speakers > .featured-grid-item { 
    margin-right: 24px;   
  }

  .destop-bg-pad .regiter-link {
    color: white;
  }

  .videos-abt {
    display: flex;
    justify-content: center;
  }

  .videos-abt-margin {
    margin-right: 24px;
  }  

  .footer .copyright-flex-container {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #272a31;
    color: white;
  }
}

/* .grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); } */